/* button {
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 7px;
    margin: 0 10px;
    padding: 10px 15px;
    border: 3px solid transparent;
  }
  
  button:active {
    transform: translateY(3px);
  }
  
  button::after,
  button::before {
    border-radius: 3px;
  }
  
  .animated-btn {
    background-color: transparent;
    color: #122737;
    border: none;
    overflow: hidden;
    box-shadow: none;
  }
  
  .animated-btn:hover {
    color: #f2f2f2;
  }
  
  .animated-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #122737;
    transition: opacity 0.3s, border 0.3s;
  }
  
  .animated-btn:hover::before {
    opacity: 0;
  }
  
  .animated-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #183147;
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  
  .animated-btn:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(1) translate(-10px, -70px);
  } */
  


  .animated-btn {
    border: 2px solid currentColor;
    border-radius: 10px;
    color: #F17E6C;
    /* font-family: roboto; */
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    padding: 5px 15px;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  
  .animated-btn::after {
    background-color: #F17E6C;
    border-radius: 10px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.3s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  
  .animated-btn:hover::after {
    transform: translate(0, 0);
  }
  
  .animated-btn:hover {
    border: 2px solid transparent;
    color: #252837;
    transform: scale(1.05);
    will-change: transform;
  }
  
